/* Custom CSS styles for cat lover theme */
body {
  background-color: #F9F9F9; /* light gray */
  font-family: 'Roboto', sans-serif;
}

.navbar {
  background-color: #D9C9FF; /* light purple */
}

.nav-link {
  color: #333; /* dark gray */
}

.nav-link:hover {
  color: #D9C9FF; /* light purple */
}

.navbar-brand {
  font-size: 36px;
  font-weight: bold;
  color: #333; /* dark gray */
}

#logout-link, #register-link, #login-link {
  color: #333; /* dark gray */
}

#logout-link:hover, #register-link:hover, #login-link:hover {
  color: #D9C9FF; /* light purple */
}

h1, h2, h3, h4, h5, h6 {
  color: #333; /* dark gray */
}

.card {
  background-color: #fff; /* white */
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.btn-primary {
  background-color: #D9C9FF; /* light purple */
  border-color: #D9C9FF; /* light purple */
  color: #333; /* dark gray */
}

.btn-primary:hover {
  background-color: #fff; /* white */
  border-color: #D9C9FF; /* light purple */
  color: #D9C9FF; /* light purple */
}

.footer-row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.footer-column {
	flex-basis: 23%;
}
