/* table styles */
.table {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #333;
  }
  
  .table th,
  .table td {
    padding: 12px;
    text-align: left;
    vertical-align: middle;
    border-top: 1px solid #ccc;
  }
  
  .table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #ccc;
  }
  
  .table tbody+tbody {
    border-top: 2px solid #ccc;
  }
  
  .table .form-control {
    width: 80px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 4px;
    border-color: #ccc;
  }
  
  .table .btn-outline-secondary {
    border-color: #ddd;
    color: #666;
  }
  
  .table .btn-outline-secondary:hover {
    border-color: #ccc;
    color: #333;
  }
  
  .table .btn-outline-danger {
    border-color: #dc3545;
    color: #dc3545;
  }
  
  .table .btn-outline-danger:hover {
    background-color: #dc3545;
    color: #fff;
  }
  
  .table td:last-child form {
    display: inline-block;
  }
  
  .table td:last-child form button {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    border-radius: 4px;
  }
  
  /* form styles */
  .form-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.5;
    color: #555;
  }
  
  .form-group input[type="text"],
  .form-group input[type="email"],
  .form-group textarea {
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.5;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  .form-group input[type="text"]:focus,
  .form-group input[type="email"]:focus,
  .form-group textarea:focus {
    border-color: #8c8c8c;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  
  .btn-primary {
    background-color: #ffac41;
    border-color: #ffac41;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.5;
    padding: 6px 12px;
    border-radius: 4px;
  }
  
  .btn-primary:hover {
    background-color: #e09638;
    border-color: #e09638;
    color: #fff;
  }
  